root = true

[*.cs]
# Unused locals/values

dotnet_diagnostic.CS0168.severity = error
dotnet_diagnostic.CS0219.severity = error
dotnet_diagnostic.IDE0059.severity = error

# Async/await usage

dotnet_diagnostic.CS1998.severity = error
dotnet_diagnostic.CS4014.severity = error

